body {
    font: normal 10pt Verdana,sans-serif;
    background-color: #FFF; 
    text-align:center;   
}

#notice {
    border: 2px solid red;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: red;
    font: bold smaller sans-serif;
    color: #ffffff;
}

#content {
    width: 780px;
    margin: 0 auto;
    text-align:left;   
}

#summary {
    font: smaller courier;
}

div.channel {
    width: 381px;
    float: left;
    margin: 4px 4px 4px 4px;
}

div.channel-title {
    font-weight: bold;
    margin:0;
    padding: 0 2px 1px 8px;
    color: #000
}
            
div.channel-body-outer {
    padding: 0 9px 0 9px;
}

a.feed {
    display: block;
    float: right;
    margin: 14px 10px;
}

div.window {
    background-color: #B0F3FF;
    padding: 0 8px 8px 8px;
    margin: 8px 4px 8px 4px;
}

div.inner {
    background: #FFF;
    padding: 1px 4px 4px 4px;
}

.added {
    background:#4F8;
}

.removed {
    background:#F88;
}

table {
    border: solid 1px;
    font-family: monospace;
}

table pre {
    margin: 0;
    padding: 0;
}

tr {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
}

td {
    padding: 0 0.4em 0 0.4em;
}

#footer {
    padding: 4px 6px 2px 8px;
    font-size: x-small;
    text-align: center;
    color: gray;
    clear: left;
}
