body {
    font: normal 10pt Verdana,sans-serif;
    background-color: #234;    
}

#notice {
    border: 2px solid red;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: red;
    font: bold smaller sans-serif;
    color: #ffffff;
}

#description {
    width: 780px;
    background-color: #FFD;
    padding: 2px 6px 2px 6px;
}

#summary {
    font: smaller courier;
}

div.channel {
    width: 384px;
    float: left;
    padding: 8px 4px 8px 4px;
}

div.channel-title {
    font: normal 8pt Verdana,sans-serif;
    margin:0 0 0 0;
    padding: 2px 2px 0 8px;
    text-align:left;
    color: #000
}
            
div.channel-body-inner {
    margin:0;
    padding: 1px 4px 1px 4px;
    background: #FFD;
    font:normal Verdana,sans-serif
}

#footer {
    width: 780px;
    padding: 4px 6px 2px 4px;
    font-size: x-small;
    color: gray;
    clear: left;
    background-color: #FFD;
}
