body {
    font: normal 10pt Verdana,sans-serif;
    background-color: #f0f0f0; 
    text-align: left;
    padding: 1em 2em;   
}

#notice {
    border: 2px solid red;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: red;
    font: bold smaller sans-serif;
    color: #ffffff;
}

#summary {
    font: smaller courier;
}

#changes {
    display: none;
}

#header {
    margin: 0;
    padding: 0;
    position: relative;
    height: 3em;
}

div.authorization_cell {
    width: 9.1em;
    float: left;
}

#rightside {
    float: right;
}

div.pagetext {
    background-color: #FFF;
    margin: 4px 0 4px 0;
    padding: 0 .8em .4em .8em;
    border: 1px solid #679cd2;
}

#mainpage {
    margin: 4px 332px 4px 0;
}

div.channel {
    width: 316px;
    margin: 4px 4px 4px 4px;
}

div.channel-title {
    font-weight: bold;
    margin:0;
    padding: 0 2px 1px 8px;
    color: #000;
    background: #a0ccee;
}
            
div.channel-body-outer {
    padding: 0 9px 0 9px;
    background: #a0ccee;
}

a.feed {
    display: block;
    float: right;
    margin: 14px 10px;
}

div.window {
    background-color: #a0ccee;
    padding: 8px 8px 8px 8px;
    margin: 0 0 .48em 0;
}

div.inner {
    background: #FFF;
    padding: 4px 4px 12px 4px;
}

div.toolbar {
    font-size: 0.8em;
}

div.editbar {
    border-top: 1px dotted #9C9C9C;
}

div.channel_toolbar {
    border-bottom: 1px dotted #9C9C9C;
}


.disabled {
    color: gray;
}

.marked {
    color: #F00;
    background: #FFA;
}

.changed {
    background:#FFD;
}

table.diff {
    border: solid gray;
    border-width: 1px 0 1px 0;
    font-family: monospace;
    font-size: 0.72em;
}

table.diff pre {
    margin: 0;
    padding: 0;
    text-align: left;
}

table.diff tr {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
}

table.diff td {
    padding: 0 0.4em 0 0.4em;
}

table.diff td.left {
    border:solid;
    border-color: black gray black black;
}

table.diff td.right {
    border:solid black;
}

table.diff td.line_number {
    text-align: center;
    border:solid gray;
    border-width: 0 1px 0 1px;
}

table.oldernews {
  border-spacing: 0;
  text-align: left;
  font-size: .85em;
  width: 100%;
}
      
table.oldernews tr.even { background-color: #fff; }
        
table.oldernews tr.odd { background-color: #eee; }
      
table.oldernews thead { background-color: #d0d0d0; }
      
table.oldernews tbody th { border: 1px #c9c9c9 solid; }

table.oldernews tbody td { border: 1px #c9c9c9 solid; }
      
table.oldernews .date { border-right-width: 0; }

table.oldernews .relative { border-left-width: 0; }
      
input {
    border: solid 1px #80aacc;
    margin: .2em 0 0 0;
}

input.button {
    background-color: #b0ddff;
}

input.checkbox {
   border: none;
}

input#txtTitle {
    font-size: x-large;
}

textarea {
    border: solid 1px #80aacc;
    width: 100%;
}

div#editor div.inner {
    background-color: #fff; 
}

#footer {
    padding: 4px 6px 2px 8px;
    font-size: x-small;
    text-align: center;
    color: gray;
    clear: left;
}

span.warning {
	border: 1px solid #F33;
	background: #FFA;
	padding: 0 3px 0 3px
}

#username_not_available {
	position: absolute;
	top: 12px;
	left: 64px;
	z-index: 6;
}

#passwords_do_not_match {
	position: absolute;
	top: 12px;
	left: 174px;
	z-index: 6;
}

a:link { color: #3333f0 }
a:visited { color: #88d }
