<div class='toolbar editbar'>
  <% if @session[:user] then%>
      <%= link_to( 'Edit'.t,
                   { :controller => 'wiki',
                     :action => 'edit',
                     :page => @page.name } )%>
  <% else %>
    <span class='disabled'>
      <%= 'Edit'.t -%> <%= '(requires authentication)'.t -%>
    </span>
  <% end %>
</div>
