<% pagetext(@page.title, '(Comparing revisions %s and %s)' / @old_revision_num / @new_revision_num) do %>
  <%= @renderer.render_wiki_diff(@old_revision.text, @new_revision.text) %>
  <%= render :partial => 'diffbar' %>
<% end %>