<% @destination = { :name => 'page', :attr => 'text' } %>
<label for='txtAuthorized'>
  <%= 'Who should be able to edit this page?'.t -%>
  <%= '(Usernames separated by spaces. Blank for everyone)'.t -%>
</label><br />
<%= text_field('page', 'editors', :id => 'txtAuthorized',
                                  :class => 'text') %>
<%= hidden_field_tag 'page_name', @page.name %>
