<%= error_messages_for 'headline' %>

<!--[form:headline]-->
<p><label for="headline_title"><%= 'Summary'.t -%></label><br/>
<%= text_field 'headline', 'title'  %></p>

<p><label for="headline_happened_at"><%= 'Date'.t -%></label><br/>
<%= date_select 'headline', 'happened_at'  %></p>

<p><label for="headline_description"><%= 'Description'.t -%></label><br/>
<%= text_area 'headline', 'description'  %></p>
<!--[eoform:headline]-->

