<% @title = "Motiro - #{'Event'.t}" %>
<% if ! @partial then %>
    <div class="pagetext">
      <h1><%= h(@headline.title(Translator.for(@locale))) -%></h1>
<% end %>
<%= Page.new(:text => @headline.description(Translator.for(@locale))).
      render_html %>
<% if ! @partial then %>
    </div>
<% end %>

    
