<% @title = "Motiro - #{'Event'.t}" %>
<% if ! @partial then %>
      <div id="description" class="window">
        <div class="inner">
          <h1><%= h(@headline.title(Translator.for(@locale))) -%></h1>
<% end %>
          <pre>
<%= h(@headline.description(Translator.for(@locale))) %>
          </pre>
<% if ! @partial then %>
        </div>
      </div>
<% end %>

    
