<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Motiro: Bem-vindo</title>
  </head>
  <body>
      <% if @flash[:notice] -%>
        <div id="notice"><%= @flash[:notice] %></div>
      <% end -%>
      <div id="description">
      <h1>Motiro</h1>
      <p>
        Seja bem-vindo! Esta é a página principal do projeto Motiro.
      </p>
      <p>
        Estamos tentando construir um portal para reunir diversas
        aplicações de apoio e controle ao desenvolvimento de software.
        Alguns exemplos são aplicações de gerêcia de configuração,
        controle de bugs e listas de discussão. O papel do portal é
        fazer com que elas estejam integradas e funcionando de forma 
        ubíqua, permitindo ao desenvolvedor ter acesso a diversos tipos
        de informação sobre seu projeto em um único local.
      </p>
      <p>
        Confuso? Dê uma olhada em volta. Esta página é um exemplo de 
        portal Motiro em funcionamento.
      </p>
      <p>
        Interessado? Use esta página para conseguir mais informações. Se
        quiser nos contactar, estamos todos reunidos discutindo no grupo
        <a href="http://groups.google.com/group/motiro">motiro@googlegroups.com</a>.
        Junte-se ao mutirão!
      </p>
    </div>
    <div id="svn">
      <%= render_component(:controller => 'report',
                           :action =>  'show',
                           :params => {:reporter => 'subversion'}) %>
    </div>
  <hr/>
  <font size="-2" color="#909090">Motiro versão <%= MOTIRO_VERSION %></font>
  </body>
</html>
