<% if @not_available %>
  <span id="username_not_available" style="border: 1px solid #F33; background: #FFA; position: absolute; top: 10px; left: 64px; padding: 0 3px 0 3px">Not available</span>
<% end %>