<div style='float: right;'>
    <%= link_to 'English', params.merge(:locale => 'en'), { :id => 'en' } -%>
  | <%= link_to 'Português', params.merge(:locale => 'pt-BR'), { :id => 'pt-BR' } -%>
</div>
<div>
  <%= render_component :controller => 'account', :action => 'authorization' %>
</div>
